
.notfoundText{

    text-align: center;
     background: url('../../Sprites/space-animation.gif');
     background-repeat: no-repeat;
     background-size: cover;

        height: 100vh;
        width: 100%;
        padding: 500px;
        color: white;

}