.CardContainer {
  width: 100%;
  /* height:70%; */
  height: 420px;
  padding: 20px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.row {
  display: flex;
  justify-content: space-between;
}

.card {
  transition: ease all 0.3s;
  width: 300px;
  justify-content: center;
}

.wrapper {
  margin: 60px 10px 10px;
  padding-top: 300px;

  box-sizing: border-box;
  position: relative;
  box-shadow: 0 0 20px 10px rgba(25, 25, 25, 0.1);
  transition: ease all 0.3s;
  justify-content: center;
}

/* .wrapper:hover{
        transform:translateY(-10px);
        z-index: -1;
    } */

.card_img {
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  position: absolute;
  /* bottom:calc(100% - 300px); */
  bottom: 16%;
  width: 100%;
  height: 400px;
  transition: ease all 0.3s;
  /* background-image: url("https://i.natgeofe.com/n/5892ed3f-0b48-4227-9900-a712811a5903/mammals-hero_2x3.jpg?w=600&h=900"); */
}

.cardTitle h1 {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 2px;
  margin-top: 25px;
}

.card1Button button {
  top: 100vh;
  left: 1vw;
  z-index: 1px;
  text-align: center;

}

.Greeting {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 25px;
}

p {
  width: 100%;
  font-size: 14px;
  text-align: center;
  margin-bottom: 5px;
}

/* .leftModalTitle{
  font-size: 1.8vw;
  
} */

.buttonCard {
  background: #95be22;
  font-size: 16px;
  cursor: pointer;
  letter-spacing: 2px;
  line-height: 1.5;
  cursor: pointer;
  margin-left: 70px;
  margin-bottom: 7px;
  /* top: 100%; */
  top: 100vh;
  /* left: 0vw; */
  z-index: 1px;
  /* -ms-transform: translateX(5%);
  transform: translateX(55%); */
  /* transform: translateY(435%); */
  /* width: 100px;
    height: 60px; */
  border: solid;
  border-width: 1.4px;
  border-color: #627e17;

}

.fa-bars {
  color: black;
}

@media screen and (max-height: 1080px) and (max-width: 1920px)
{
  #CrowImg {
    display: block;
    max-width:22vw;
    max-height:35.8vh;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 13px;
    margin-top: -20px;
  }

  .tabs
  {
    font-size: x-large;
    
  }

  .content p 
  {
    font-size: 1rem;
  }

  .card_img /*image used in cards on the animals page*/
  {
    height: 335px;
  }

  .card
  {
    width: 270px;
  }

  .wrapper {
    margin: 40px 10px 10px;
    padding-top: 300px;
    box-shadow: 0 0 7px 7px rgba(25, 25, 25, 0.1);
    
  }

  .buttonCard /*Learn More*/
  {
    margin-left: 63px;
    padding: 1px;
  }

  .navbarClass
  {
    height: 10vh;
  }

  .dropdown-menu
  {
    top: 64px;
  }

  .nav-links 
  {
    height: 90.5%;
  }

  .fa-paw,
  .fa-seedling,
  .fa-globe-americas
  {
    margin-top: 15px;
  }

  .nav-links p /*Charities, Animals, and Maps on main site*/
  {
    margin-top:20px;
    font-size: 1rem;
  }

  .nav-links-welcome p{ /*Charities and Animals on homepage*/
    margin-top: 20px;
    font-size: 1rem;
    
  }
}
