.dropdown-menu {
  width: 200px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
}

.dropdown-menu li {
  background: rgb(97, 94, 54);
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: rgb(61, 59, 34);
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  padding: 16px;
}

/* .dropdown-link:hover{
    color: rgb(0, 0, 0);
} */
