.dropdown-menu{
width: 200px;
position: absolute;
top: 80px;
list-style: none;
text-align: start;

}

.dropdown-menu li {
background:  rgba(33, 126, 75, 0.7);
cursor: pointer;
}

.dropdown-menu li:hover{
background: rgba(15, 95, 75, 0.411);
}

.dropdown-menu.clicked{
display: none;
}

.dropdown-link{
display:block;
width: 100%;
height: 100%;
text-decoration: none;
color: white;
padding: 16px;
}