.modal-container {
  /* display: flex; */
  position: fixed;
  width: 67vw;
  height: 90vh;
  left: 1;
  right: 0;
  top: 1;
  bottom: 0;
  background-color: rgba(104, 151, 158, 1);
  color: black;
  -ms-transform: translateX(5%);
  transform: translateX(-5%);
  transform: translateY(-5.6%);
  border-radius: 0px 20px 20px 0px;

  animation-name: zoom;
  z-index: 1;
  animation-duration: 0.5s;
  @keyframes zoom {
    from {
      transform: scale(0.1);
    }
    to {
      transform: scale(1);
    }
  }
}

@media only screen and (max-width: 600px) {
  .modal-container {
    /* display: flex; */
    position: fixed;
    width: 52vw;
    height: 90vh;
    left: 1;
    right: 0;
    top: 1;
    bottom: 0;
    background-color: rgba(104, 151, 158, 1);
    color: black;
    -ms-transform: translateX(5%);
    transform: translateX(-5%);
    transform: translateY(-5.6%);
    border-radius: 0px 20px 20px 0px;

    animation-name: zoom;
    z-index: 1;
    animation-duration: 0.5s;
    @keyframes zoom {
      from {
        transform: scale(0.1);
      }
      to {
        transform: scale(1);
      }
    }
  }
}

.bloc-tabs {
  display: flex;
  /* padding: 2vh; */
}
.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background-color: rgba(110, 135, 104, 0.8);
  cursor: pointer;
  box-sizing: content-box;
  /* position: relative; */
  font-size: 20px;
  border-bottom-style: ridge;
  border-right-style: ridge;
  border-color: rgba(19, 49, 56, 0.561);
  transition: all 290ms ease-in-out;
  color: rgb(236, 186, 93);
  font-size: xx-large;
  -webkit-text-stroke: 0.9px rgb(0, 0, 0);
  
}

.tabs:hover {
  color: rgb(255, 204, 38);
  background-color: rgba(104, 141, 102, 0.8);
  transition: all 0ms ease-in-out;
}

.tabs:nth-child(3) {
  border-radius: 0px 15px 0px 0px;
}

.active-tabs {
  background-color: rgba(81, 119, 78, 0.8);
  color: rgb(255, 204, 38);
}

button {
  border: none;
}
.content-tabs {
  flex-grow: 1;
}
.content {
  /* background-color: rgba(104, 151, 158,0.8); */
  padding: 20px;
  /* width: 100%;
  height: 100%; */
  display: none;
  /* background-color: rgba(104, 151, 158, 0.01); */
  /* text-align: left; */
}
.content h2 {
  padding: 0px 0 5px 0px;
  /* text-decoration: underline; */
  line-height: 1.8;
  font-size: 1.7vw;
}

.content p {
  /* width: 100%;
  height: 100%; */
  text-align: left;
  font-size: 1.1rem;
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-color: rgb(16, 46, 53);
}

.active-content {
  display: block;
}

.animalName {
  -webkit-text-stroke: 0.9px rgb(0, 0, 0);
}

.profileBorder {
  /* border: solid; */
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 5px;
  background-color: rgba(84, 117, 82, 0.8);
  padding-bottom: 0px;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
}

.profileBorder2 {
  /* border: solid; */
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: rgba(84, 117, 82, 0.8);
  padding-bottom: 0px;
  font-size: 0.8rem;
  text-align: center;
}

.profileBorderTrivFirst {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: rgba(84, 117, 82, 0.8);
  padding-bottom: 0px;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  width: 70%;
}

/* .profileBorder h3{

  font-size: 0.70rem;
} */

.profileBorder p:nth-child(1) {
  border: rgba(84, 117, 82, 0.8);
  background-color: rgba(88, 119, 86, 0.8);
  padding-bottom: -5px;
}

.profileBorder2 p:nth-child(1) {
  border: rgba(84, 117, 82, 0.8);
  background-color: rgba(88, 119, 86, 0.8);
  padding-bottom: -5px;
}

.profileBorder p {
  border-radius: 5px;
  background-color: rgb(205, 219, 205);
  padding: 2px;
}

.profileBorderTriv {
  /*Trivia in animals on map*/
  margin: auto;
}
.profileBorderTriv p {
  border-radius: 5px;
  background-color: rgb(205, 219, 205);
  padding: 14px;
}

.profileBorderTrivCards {
  /*Trivia in Cards*/
  border-radius: 5px;
  background-color: rgb(205, 219, 205);
  width: 70%;
  margin: auto;
}

.descriptionContent {
  border-radius: 5px;
  background-color: rgb(205, 219, 205);
  padding: 15px;
  margin-bottom: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profileBorder2 p {
  border-radius: 5px;
  background-color: rgb(205, 219, 205);
  padding: 2px;
}

.outerBorder {
  border: rgba(88, 119, 86, 0.8);
  border-radius: 5px;
  background-color: rgba(117, 151, 113, 0.8);
  margin-top: 2px;
  padding: 2px;
  padding-right: 10px;
}

.outerBorder2 {
  border: rgba(88, 119, 86, 0.8);
  border-radius: 5px;
  background-color: rgba(117, 151, 113, 0.8);
  margin-top: 2px;
  padding: 2px;
  padding-right: 10px;
}

/* .profileBorderTitle p{

  background-color: whitesmoke;
  padding: 2px;
  padding-right: 20px;
} */

/* .MyContent{

        font-size: 1vw;

      } */

@media only screen and (min-width: 700px) and (max-width: 900px) {
  .descriptionContent {
    border-radius: 5px;
    background-color: rgb(205, 219, 205);
    padding: 15px;
    font-size: 0.716rem;
  }
}
