
    .modal-container {
        /* display: flex; */
        position: fixed;
        width: 67vw;
    height: 90vh;
    left: 1;
    right: 0;
    top: 1;
    bottom: 0;
    background-color: rgba(104, 151, 158,0.8);
    color: black;
    -ms-transform: translateX(5%);
    transform: translateX(-5%);
    transform: translateY(-5.6%);
    border-radius: 0px 20px 20px 0px;
    
    animation-name: zoom;
    z-index: 1;
    animation-duration: 0.5s;
    @keyframes zoom {
      from {transform: scale(0.1)} 
      to {transform: scale(1)}
    }

      }


      @media only screen and (max-width: 600px) {

       
        .modal-container {
          /* display: flex; */
          position: fixed;
          width: 52vw;
      height: 90vh;
      left: 1;
      right: 0;
      top: 1;
      bottom: 0;
      background-color: rgba(104, 151, 158,0.8);
      color: black;
      -ms-transform: translateX(5%);
      transform: translateX(-5%);
      transform: translateY(-5.6%);
      border-radius: 0px 20px 20px 0px;
      
      animation-name: zoom;
      z-index: 1;
      animation-duration: 0.5s;
      @keyframes zoom {
        from {transform: scale(0.1)} 
        to {transform: scale(1)}
      }
  
        }


      
      }

      .bloc-tabs {
        display: flex;
        /* padding: 2vh; */
        
      }
      .tabs {
        padding: 15px;
        text-align: center;
        width: 50%;
        background-color: rgba(116, 166, 173, 0.01);
        cursor: pointer;
        box-sizing: content-box;
        /* position: relative; */
        font-size: 20px;
        border-bottom-style: ridge;
        border-right-style: ridge;
        border-color: rgba(19, 49, 56, 0.561);
       transition: 350ms ease-in-out;
      }

      .tabs:nth-child(3){
        border-radius:0px 15px 0px 0px;


      }
      
      .active-tabs  {
        background-color: rgba(102, 163, 173, 0.472);
        color: #773613;
      }

      button {
        border: none;
        
      }
      .content-tabs {
        flex-grow : 1;
        
      }
      .content {
        /* background-color: rgba(104, 151, 158,0.8); */
        padding: 20px;
        width: 100%;
        height: 100%;
        display: none;
        background-color: rgba(104, 151, 158, 0.01);
        text-align: left;
        
      }
      .content h2 {
        padding: 0px 0 5px 0px;
        /* text-decoration: underline; */
        line-height: 1.8;
        font-size: 1.7vw;
      }
    
      .content p {
        width: 100%;
        height: 100%;
        text-align: left;
        font-size: 1rem;
       
        border-color: rgb(16, 46, 53);
      }
      .active-content {
        display: block;
      }
  
      /* .MyContent{

        font-size: 1vw;

      } */