.SA-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
  background-color: #060911;
  color: rgba(255, 255, 255, 0.952);
  font-size: 1.5em;
  padding-top: 2.5vh;
}

#AsiaImg {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
}

.SA-btns .btn {
  margin-left: 200px;
  margin-right: 200px;
}

.SA-btns .btns {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  margin-left: 330px;
  margin-right: 170px;
}

.to-region {
  color: #fff;
  display: inline-flexbox;
  align-items: center;

  padding: 0.5rem 1rem;
  height: 100%;
  margin-left: 29vh;
  margin-right: 29vh;
}

.to-region:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
  color: green;
}

.Toucan {
  display: flex;
  width: 5vw;
  padding: 4vw 0px;
  border: none;
  cursor: pointer;
  background: url("../Sprites/toucan.svg") center;
  background-repeat: no-repeat;
  position: absolute;
  top: 40vh;
  left: 50vw;
  animation: spawn 3s ease, shake 4s ease-in-out 15s 6;
}

.Southern-three-banded-armadillo {
  display: flex;
  /* height: 125px; */
  width: 4vw;
  padding: 3vw 0px;
  border: none;
  cursor: pointer;
  background: url("../Sprites/armadillo.svg") center;
  background-repeat: no-repeat;
  position: absolute;
  top: 70vh;
  left: 55vw;
  animation: spawn 3s ease, shake 4s ease-in-out 35s 7;
}

.Andean-flamingo {
  display: flex;
  /* height: 135px; */
  width: 6vw;
  padding: 3vw 0px;
  border: none;
  cursor: pointer;
  background: url("../Sprites/andean-flamingo.svg") center;
  background-repeat: no-repeat;
  position: absolute;
  top: 60vh;
  left: 48vw;
  animation: spawn 3s ease, wiggle2 2s ease-in-out 15s 7;
}

.Red-eyed-tree-frog {
  display: flex;

  width: 4vw;
  padding: 4vw 0px;
  border: none;
  cursor: pointer;
  background: url("../Sprites/tree-frog.svg") center;
  background-repeat: no-repeat;
  position: absolute;
  top: 29vh;
  left: 43vw;
  animation: spawn 3s ease, violentShake 0.15s ease-in-out 2s 7;
}

@keyframes spawn {
  0% {
    transform: scale(0); /* scaling to 0 */
  }
  50% {
    transform: scale(1.1); /* increasing the size */
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes wiggle2 {
  0% {
    transform: skewX(9deg);
  }
  10% {
    transform: skewX(-8deg);
  }
  20% {
    transform: skewX(7deg);
  }
  30% {
    transform: skewX(-6deg);
  }
  40% {
    transform: skewX(5deg);
  }
  50% {
    transform: skewX(-4deg);
  }
  60% {
    transform: skewX(3deg);
  }
  70% {
    transform: skewX(-2deg);
  }
  80% {
    transform: skewX(1deg);
  }
  90% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(0deg);
  }
}

@keyframes violentShake {
  0% {
    transform: rotate(4deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(4deg);
  }
}
@media only screen and (max-width: 600px) {
  .Toucan {
    display: flex;
    width: 5vw;
    padding: 4vw 0px;
    border: none;
    cursor: pointer;
    background: url("../Sprites/toucan.svg") center;
    background-repeat: no-repeat;
    position: absolute;
    top: 65vh;
    left: 50vw;
    animation: spawn 3s ease, shake 4s ease-in-out 15s 6;
  }

  .Southern-three-banded-armadillo {
    display: flex;
    /* height: 125px; */
    width: 4vw;
    padding: 3vw 0px;
    border: none;
    cursor: pointer;
    background: url("../Sprites/armadillo.svg") center;
    background-repeat: no-repeat;
    position: absolute;
    top: 80vh;
    left: 55vw;
    animation: spawn 3s ease, shake 4s ease-in-out 35s 7;
  }

  .Andean-flamingo {
    display: flex;
    /* height: 135px; */
    width: 6vw;
    padding: 3vw 0px;
    border: none;
    cursor: pointer;
    background: url("../Sprites/andean-flamingo.svg") center;
    background-repeat: no-repeat;
    position: absolute;
    top: 75vh;
    left: 48vw;
    animation: spawn 3s ease, wiggle2 2s ease-in-out 15s 7;
  }

  .Red-eyed-tree-frog {
    display: flex;

    width: 4vw;
    padding: 4vw 0px;
    border: none;
    cursor: pointer;
    background: url("../Sprites/tree-frog.svg") center;
    background-repeat: no-repeat;
    position: absolute;
    top: 67vh;
    left: 43vw;
    animation: spawn 3s ease, violentShake 0.15s ease-in-out 2s 7;
  }
}

@media only screen and (min-width: 700px) and (max-width: 900px) {
  .Toucan {
    display: flex;
    width: 5vw;
    padding: 4vw 0px;
    border: none;
    cursor: pointer;
    background: url("../Sprites/toucan.svg") center;
    background-repeat: no-repeat;
    position: absolute;
    top: 40vh;
    left: 50vw;
    animation: spawn 3s ease, shake 4s ease-in-out 15s 6;
  }

  .Southern-three-banded-armadillo {
    display: flex;

    width: 4vw;
    padding: 3vw 0px;
    border: none;
    cursor: pointer;
    background: url("../Sprites/armadillo.svg") center;
    background-repeat: no-repeat;
    position: absolute;
    top: 65vh;
    left: 55vw;
    animation: spawn 3s ease, shake 4s ease-in-out 35s 7;
  }

  .Andean-flamingo {
    display: flex;

    width: 6vw;
    padding: 3vw 0px;
    border: none;
    cursor: pointer;
    background: url("../Sprites/andean-flamingo.svg") center;
    background-repeat: no-repeat;
    position: absolute;
    top: 60vh;
    left: 48vw;
    animation: spawn 3s ease, wiggle2 2s ease-in-out 15s 7;
  }

  .Red-eyed-tree-frog {
    display: flex;

    width: 4vw;
    padding: 4vw 0px;
    border: none;
    cursor: pointer;
    background: url("../Sprites/tree-frog.svg") center;
    background-repeat: no-repeat;
    position: absolute;
    top: 47vh;
    left: 43vw;
    animation: spawn 3s ease, violentShake 0.15s ease-in-out 2s 7;
  }
}


@media screen and (min-width: 2560px) and (max-height: 1440px){
  
  .Red-eyed-tree-frog {
    display: flex;

    width: 4vw;
    padding: 4vw 0px;
    border: none;
    cursor: pointer;
    background: url("../Sprites/tree-frog.svg") center;
    background-repeat: no-repeat;
    position: absolute;
    top: 24vh;
    left: 45vw;
    animation: spawn 3s ease, violentShake 0.15s ease-in-out 2s 7;
  }
}